#
# Do not attempt to store PhpStorm project data
#
.idea
#
# Do not store file that may contain sensitive information (passwords, logins)
#
webdir/config.php
webdir/ldaptest.php
webdir/ldaptest.novell.php
#
# Do not store lecture GUI setups (images, CSS)
#
webdir/ex/*
webdir/exorig/*
#
# Ignore Bootstrap, Lightwindow, and Javascript directories
#
webdir/bootstrap
webdir/js
webdir/lightwindow v2.0 source
#
# Ignore temporary and development intermediates
#
login_broken.inc
webdir/ajaxpoints.html
webdir/index_top.php
#
# Ignore backup files
#
*.attic
*.bak
#
# Ignore Dibi
#
classes/external/dibi