#
# Do not attempt to store PhpStorm project data
#
.idea
#
# Do not store file that may contain sensitive information (passwords, logins)
#
public/config.php
public/ldaptest.php
public/ldaptest.novell.php
#
# Do not store lecture GUI setups (images, CSS)
#
public/ex/*
public/exorig/*
#
# Ignore Bootstrap, Lightwindow, and Javascript directories
#
public/bootstrap
public/js
public/lightwindow v2.0 source
#
# Ignore temporary and development intermediates
#
login_broken.inc
public/ajaxpoints.html
public/index_top.php
#
# Ignore backup files
#
*.attic
*.bak
#
# Ignore Dibi
#
classes/external/dibi