#
# Do not attempt to store PhpStorm project data
#
.idea
#
# Do not store file that may contain sensitive information (passwords, logins)
#
webdir/config.php
webdir/ldaptest.php
webdir/ldaptest.novell.php
#
# Do not store lecture GUI setups (images, CSS)
#
webdir/ex/*
webdir/exorig/*
#
# Ignore Bootstrap, Lightwindow, and Javascript directories
#
webdir/bootstrap
webdir/js
webdir/lightwindow v2.0 source
#
# Ignore temporary and development intermediates
#
login_broken.inc
webdir/ajaxpoints.html
webdir/index_top.php
#
# Ignore backup files
#
*.attic
*.bak
#
# Ignore Dibi
#
classes/external/dibi
#
# Ignore the local copy of smarty that is used for Windows development
#
smarty
templates_c
#
# Ignore remaining Flarum files
#
classes/external/flarum-sso/Forum.php
classes/external/flarum-sso/config.php.dist
classes/external/flarum-sso/index.php
classes/external/flarum-sso/logout.php
classes/external/flarum-sso/wordpress-flarum-sso.php
