body{
    font-family : Arial, Helvetica, sans-serif;
    font-size : 10px;
    margin: 0;
    /* color: #666666; */
    
}

table.admintable, table.exetable, table.pointtable {
    background-color: #666666;
    color: black;
}

table.admintable, table.pointtable {
    width: 100%;
}

table.admintable td,
table.admintable th
{
	padding: 4px;
}

#main, #news {
  padding-top: 8px;
}

#main, #news, #maintitle, #newstitle {
  margin-left: 4px;
}

#main table {
    /* width: 100%; */
    /* background-color: #666666; */
    color: black;
}

table.usertable thead td {
    background-color: #fef3e7;
    padding: 4px;
}

table.usertable tbody td {
    background-color:  #fffaf4;
    padding: 4px;
}

tr.newobject {
    background-color: #fad9b1;
}

tr.adminlisthead {
    background-color: white;
}

tr.titlerow {
    background-color: white;
}

.tstask {
    text-align: left;
    padding: 2px 6px 2px 6px;
}

img {
    border: none;
}

.date {
    text-align: center;
    width: 10ex;
}

.center {
    text-align: center;
}
.smallercent {
    text-align: center;
    font-size: 10px;
}

.smaller {
    font-size: 10px;
}

.user {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 12px;
    color: #ffffff;
}

.datum {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 9px;
    color: #777777;
}

.heading_0{
    font-size : 14px;
    font-weight : bold;
    text-align : center;
}

.box_trb{
    border-top: 1px solid #9caac8;
    border-right: 1px solid #9caac8;
    border-bottom: 1px solid #9caac8
}

.box_r{
    border-right: 1px solid #9caac8;
}

.box_lbr{
    border-left: 1px solid #d1d5df;
    border-bottom: 1px solid #d1d5df;
    border-right: 1px solid #d1d5df;
}

.box_lb{
    border-left: 1px solid #d1d5df;
    border-bottom: 1px solid #d1d5df;
}

.box_l{
    border-left: 1px solid #d1d5df;
}

.box_lr{
    border-left: 1px solid #d1d5df;
    border-right: 1px solid #d1d5df;
}

.lecalert {
    padding: 1ex;
    background-color: #ffd4d4;
    font-size: large;
    font-weight: bold;
}

/* ----------------------------------------------
    FILES
   ---------------------------------------------- */
.icon_lock {
    margin-left: 1ex;
}

/* ----------------------------------------------
    LINKS
   ---------------------------------------------- */
a.link_blue {
    text-decoration:none;
    color: #244386;
}

a.link_blue:hover {
    text-decoration:none;
    color: #ffcc00;
}

/* Link in the header line referring to user home page */
div.user a {
    text-decoration: none;
    color: #fad9b1;
}
div.user a:hover {
    font-weight: bold;
}

/* Unused? */
a.link_yellow {
    text-decoration:none;
    color: #ffcc00;
}

a.link8_yellow {
    text-decoration:none;
    color: #ffcc00;
    font-size : 8px;
}

a.external {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
    background-origin: padding-box;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-right: 13px;
}

.menu {
    color: #AC6109;
    margin-top: 0;
    margin-bottom: 0;
}

.menu a, #main a {
    /* IE for some reason ignores inherited colors. */
    color: #AC6109;
    text-decoration:none;
}

.menu a:hover, #main a:hover {
    text-decoration: underline;
}

.separator {
    clear : both;
    font-size : 0;
}

.padding {
    clear : both;
    padding : 10px;
}

.menu_item_m {
    padding-left : 20px;
    font-weight : bold;
}

.menu_sep1 {
    height: 6px;
    font-size: 6px;
}
.menu_sep2 {
    height: 12px;
    font-size: 4px;
}
.menu_sep3 {
    height: 5px;
    font-size: 5px;
    background: #ffffff;
}

.menu_item_m_o {
    padding-left : 20px;
    background: #244386;
    font-weight : bold;
}

.menu_item {
    padding-left : 30px;
}

.menu_item_o {
    padding-left : 30px;
    background: #244386;
    font-weight : bold;
}

.mlevel0 {
    font-size: 12px;
}

.mlevel1 {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.mlevel2 {
    font-size: 9px;
}

/* --------------------
   Edit icons placement
   -------------------- */
.editimg {
    float: right;
}

UL {
    padding: 0 0 0 10px;
    margin: 5px 0 0 15px;
    list-style-type: circle;
}

/* --------------------
   Inputs
   -------------------- */
input, textarea, select {
    border: solid 1px #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

input, textarea, td.itemtitle {
    padding-left: 4px;
}

input.points {
    padding-left: 0;
    width: 3em;
    text-align: center; 
}

/* Due to the `textarea` font update above, the WYSIWYG editing component
   uses the default proportional font unless we say explicitly that we want
   a fixed-width font. */
#edcTextArea {
	font-family: Courier, monospace;
}

/* ----------------------------------------------
    Burdas code
   ---------------------------------------------- */

#main .note {
    border: 1px solid Black;
    background: rgb(243, 243, 243);
    padding: 10px;
}

#main .exam {
    border: 1px solid Black;
    background: rgb(204, 236, 255);
    padding: 10px;
}

#main pre.cppcode {
    color: Black;
    border: 1px dashed Black;
    background: rgb(255, 255, 204);
    padding: 10px;
}


#main .comment {
    color: Green;
}

#main .command {
    color: Blue;
}

#main .string {
    color: Red;
}

/* ----------------------------------------------
    File list at the end of article or section
   ---------------------------------------------- */
.aabstract {
  padding: 0;
  margin: 0 0 1pt 0;
}

.atitle {
  margin: 0;
}

/* ----------------------------------------------
   News
   ---------------------------------------------- */
.newsitem {
  margin: 0 0 2pt 0;
  padding: 0;
}

.newshead {
  font-weight: bold;
}

.newsbody {
}

.newstime {
  font-size: 9px;
}

/* ----------------------------------------------
   Points
   ---------------------------------------------- */
td .tskAp, td .sumAp
{
  text-align: center;
  background-color: #e4ffe4;
}

td .tskBp, td .sumBp
{
  text-align: center;
  background-color: #f4fff0;
}

td .tskAn, td .sumAn
{
  text-align: center;
  background-color: #ffd4d4;
}

td .tskBn, td .sumBn
{
  text-align: center;
  background-color: #ffe0e4;
}

td.tskA, td.tskB, td.sumA, td.sumB, td .subtskA, td .subtskB
{
  text-align: center;
}


/* ----------------------------------------------
   Highlighting
   ---------------------------------------------- */

tr.rowAh, tr.rowBh
{
    background-color: white;
}

tr.rowAh .tskAp, tr.rowAh .sumAp, tr.rowBh .tskBp, tr.rowBh .sumBp
{
  background-color: #f8fff8;
}

tr.rowAh .tskAn, tr.rowAh .sumAn, tr.rowBh .tskBn, tr.rowBh .sumBn
{
  background-color: #fff8fa;
}

.pointtable tr.rowA:hover, .pointtable tr.rowA:hover td input,
.pointtable tr.rowB:hover, .pointtable tr.rowB:hover td input {
    color: white;
    background-color: black;
}

/* ----------------------------------------------
   Global point input
   ---------------------------------------------- */
.pointtable { padding: 0px; margin: 0px; border: 1px solid black; border-collapse: collapse; border-spacing: 0px; }
.pointtable td { padding: 0px; margin: 0px; }
.pointtable td.name, .pointtable th.name { padding: 4px 8px; }
.pointinput { width: 3em; text-align: center; }
.pointtable td input.edit_success, .admintable td.edit_success { background-color: #e4ffe4; }
.pointtable td input.edit_fail, .admintable td.edit_fail { background-color: #ffe4e4; }
.pointtable td input { padding: 4px; border: none; background-color: white; color: inherit; }
.pointtable tr.rowA td input.active,
.pointtable tr.rowB td input.active { padding: 2px; margin: 0px; border:2px solid black; background-color: yellow; color: black; }

/* ----------------------------------------------
   Sortable list of files
   ---------------------------------------------- */
#filelist-sortable { padding: 0px; margin: 0px; list-style-type: none; }
#filelist-sortable li { padding-left: 24px; margin: 0.5ex 0ex; background: url('images/bin.gif') left top no-repeat; }
#filelist-sortable li.pdf { background-image: url('images/pdf.gif'); }
#filelist-sortable li.doc { background-image: url('images/doc.gif'); }
#filelist-sortable li.xls { background-image: url('images/xls.gif'); }
#filelist-sortable li.ppt { background-image: url('images/ppt.gif'); }
#filelist-sortable li.mov { background-image: url('images/mov.gif'); }
#filelist-sortable li p { padding: 0px; margin: 0px; }

/* ----------------------------------------------
   Printed page
   ---------------------------------------------- */
@media print {
  #pgcol_menu, #pgrow_images, #pgrow_title
  {
    display: none;
  }
}
